[package]
name = "petal-decomposition"
version = "0.4.1"
description = """
Matrix decomposition algorithms including PCA (principal component analysis)
and ICA (independent component analysis)"""
documentation = "https://docs.rs/petal-decomposition"
readme = "README.md"
homepage = "https://github.com/petabi/petal-decomposition"
repository = "https://github.com/petabi/petal-decomposition"
license = "Apache-2.0"
keywords = ["matrix", "decomposition", "pca", "ica", "dimensionality"]
categories = ["mathematics", "science", "algorithms"]
authors = ["Min Kim <msk@dolbo.net>"]
edition = "2018"
exclude = ["./github"]

[badges]
codecov = { repository = "petabi/petal-decomposition", service = "github" }

[package.metadata.docs.rs]
no-default-features = true

[features]
default = ["intel-mkl"]

intel-mkl = ["ndarray-linalg/intel-mkl-system", "lax/intel-mkl-system", "lax/intel-mkl-download"]
netlib = ["ndarray-linalg/netlib"]
openblas = ["ndarray-linalg/openblas"]

serialization = ["serde", "ndarray/serde", "rand/serde1", "rand_pcg/serde1"]

[dependencies]
itertools = "0.10"
lapacke = "0.3"
lax = { git = "https://github.com/petabi/ndarray-linalg.git", branch = "ndarray-linalg-0.13.1-mkl-download" }
ndarray = "0.14.0"
ndarray-linalg = { git = "https://github.com/petabi/ndarray-linalg.git", branch = "ndarray-linalg-0.13.1-mkl-download" }
num-traits = "0.2"
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"
serde = { version = "1", features = ["derive"], optional = true }
thiserror = "1"

[dev-dependencies]
approx = "0.4"
ndarray = { version = "0.14", features = ["approx"] }
serde_json = "1"

[packages.metadata.docs.rs]
features = ["serialization"]
